.auth-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ffffff;
  border: solid 2px var(--main-green-color);
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 5px;
  margin-top: 5px;
}
.auth-button-cancelar{
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #f23636;
  border: solid 2px var(--main-green-color);
  
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.auth-button-aceptar{
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #0b9b13;
  border: solid 2px var(--main-green-color);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button-container { display: flex; justify-content: space-between; }

.cancel{
  padding: 1.3em 3em;
  font-size: 12px;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #151111;
  background-color: #f00f0f;
  border: solid 2px var(--main-green-color);
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.recuadro {
    width:  600px;
    height: 350px;
    border: 2px solid #000;
    background-color: #4d5650;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  
}
.recuadro-logout{
   width:  600px;
    height: 200px;
    border: 2px solid #000;
    background-color: #4d5650;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.auth-button:hover {
  background-color: var(--main-green-color);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.auth-button:active {
  transform: translateY(-1px);
}

.blue{
  border: solid 2px var(--main-blue-color) !important;
}

.blue:hover{
  background-color: var(--main-blue-color) !important;
  box-shadow: 0px 15px 20px rgba(46, 92, 229, 0.4);
}

.danger{
  border: solid 2px var(--main-red-color) !important;
}
.danger:hover{
  background-color: var(--main-red-color) !important;
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
}